
.stationlist-searchbar .subway-search__input {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  font-size: 15px;
  color: #333;
}

.stationlist-searchbar .subway-search__input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.stationlist-searchbar .subway-search__input::placeholder {
  color: #9aa3ad;
}